
*{
  margin: 0%;
  padding: 0%;
}
#clear-button,
#load-more-button,
#mentor-title {
  display: none;
}

a {
  color: #004DA3;
}
h1 {
display: flex;
justify-content: center;
}
h2{
  display: flex;
  justify-content: center;
  padding: 2%;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #b4b4b6; /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #b4b4b6;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#mentors {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1%;
  margin-bottom: 1%;
}
.cardh {
  background-color: aqua;
  width: 33.33%;  
  margin-bottom: 1%;
  
}
img{
  width: 60%;
}

