
*{
  margin: 0%;
  padding: 0%;
}
#clear-button,
#load-more-button,
#mentor-title {
  display: none;
}

a {
  color: #004DA3;
}
h1 {
display: flex;
justify-content: center;
padding: 3%;
}
h2{
  display: flex;
  justify-content: center;
  padding: 2%;
}
#intro{
  padding: 2%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #b4b4b6; /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #b4b4b6;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#mentors {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
}
.cardh {
  display:flex;
  text-align: center;
  background-color: rgba(213, 213, 213, 0.2);
  width: 30.33%;  
  border-radius: 10%;
  margin-bottom: 1%;
  padding-top: 1%;
}
img{
  width: 60%;
  border-radius: 10%;
}
button{
  width: 150px;
  border-radius: 10px;
  padding: 0.5%;
  margin-top: .5%;
  background-color: #616060;
  color: rgb(255, 255, 255);
}
#load-more-button{
  background-color:#1b74da ;
  margin-left: 2%;
  color: #000;
}
#clear-button{
  background-color: #ffc107;
  margin-left: 2%;
  color: #000;
}
input{
  margin-right: 1%;
  width: 250px;
  border-color: #020202;
}

#search-form{
  display: flex;
  padding: 2%;
}
span{
  margin-bottom: 1%;
  font-size: 1.1em;
}


